.loginContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url("https://c0.wallpaperflare.com/preview/910/104/863/shopping-keyboard-enter-button.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}



.login {
    width: 25%;
    background: white;
    border-radius: 20px;
    padding: 15px;
    margin-right: 100px;
    box-shadow: 9px 8px 25px;
}