* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Navbar {
    position: relative;
    z-index: 1;
}

.digital_logo {
    mix-blend-mode: hard-light;
}

.searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    width: 500px;
    padding: 5px 8px;
    border-radius: 25px;
    text-align: center;
    margin: 2px 4px;
}


.searchBar>input {
    border: none;
    outline: none;
    font-size: 18px;
    flex: 1;
    font-weight: bold;
    border-radius: 25px;
}

.ItemCard4 {
    display: flex;
    gap: 9px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    cursor: pointer;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.ItemCard4_img {
    width: 300px;
    border-radius: 25px;
    border: 2px solid;
}