* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    width: 500px;
    padding: 5px 8px;
    border-radius: 25px;
    text-align: center;
    margin: 2px 4px;
}


.searchBar>input {
    border: none;
    outline: none;
    font-size: 18px;
    flex: 1;
    font-weight: bold;
    border-radius: 25px;
}

.ItemCard4 {
    display: flex;
    gap: 9px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    cursor: pointer;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.ItemCard4_img {
    width: 300px;
    border-radius: 25px;
    border: 2px solid;
}

.login_dropdown{
    background-color: #fff;
    width:120px;
    /* text-align: center; */
    padding:10px 5px  10px 15px;
    border-radius: 10px;
}

.login_dropdown :hover{
    background-color: rgba(211, 211, 211, 0.64);
    cursor: pointer;
}