* {
    margin: 0;
}

.searchBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    width: 500px;
    padding: 5px 8px;
    border-radius: 25px;
    text-align: center;
    margin: 2px 4px;
}


.searchBar>input{
 border: none;
 outline: none;
 font-size: 18px;
 flex: 1;
 font-weight: bold;
  border-radius: 25px;
}

